body {
    background-color: #7a3a11;
    font-family: Verdana;
    width: 900px;
    margin:auto;
}

#title, #subtitle, #infoTitle {
    color: #55a80c;
    text-align: center;
}

#title{
    font-size: 40px;
    text-transform: uppercase;
}


a {
  
    color: blue;
}

.infoTitle{
    font-size: 16px;
    font-style: italic;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
}

#paragrafoContato{
    color: black;
    font-weight: bold;
    margin-left: 5px;;
    text-align: center;
}

.post {
    background-color: white;
    padding: 15px;
    border: 5px solid #000;
    margin-bottom: 15px;
    border-radius: 5px;;
}

.text_list{
    list-style-type: none;
    padding-left: 15px;
    text-align: center;
}

#Contato{
    background-color: aliceblue;
    border: 3px solid #000;
    border-radius: 5px;
}

#imgCapa{
    border: 3px solid #000;
    padding-left: 10px;
    
}

#imgPost{
  /*  align-items: center;
    padding-left: 380px;
    
*/
margin-bottom: 15px;
width: 100%;
border: 1px;
    border-radius: 50%;
}

.postContent{
    margin: 0;
    margin-bottom: 15px;
    padding-top: 15px;
    text-align: justify;
}