:root{
   --azul: #03071E;
   --vermelho: #D00000;
   --amarelo: #FFBA08;
   --laranja: #DC2F02;
   --vinho: #370617;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* elementos base */


body{

    background: var(--vinho);
    font-family: 'Times New Roman', Times, serif ;
    color: var(--amarelo)

}

header .container{ /* classe do navbar*/
    display: flex; /* maneira de alinhar elementos em tela(flex box) que mantem itens em linha, de maneira vertical*/
    background-color: var(--azul); /* cor de fundo do navbar*/
    border: 1px solid black; /* deu cor a borda e colocou a linha que define o navbar em evidencia*/
    flex-direction: row; /* propriedade default do display flex que tende a deixar itens alinhados na direção pra cima*/
    align-items:center; /* centraliza itens */
    justify-content: space-between; /* trabalha como os elementos estao disponibilizados de maneira horizontal(distancia entre elementos da tag h2 e os outros elementoss)*/
    
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family:'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: var(--laranja);
}

div .container{
    margin-bottom: 15%;
}

/* Album principal */

.album-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../imgs/revoredo-album-teste2.svg');

    height: 600px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.album-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: bolder;
    font-size: 15px;
}

.album-principal .titulo {
    margin-top: 15%;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.btn{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.btn:hover{
    background-color: var(--laranja);
    color:black;
}

.btn i{
    margin-right: 8px;
}