:root{
   --azul: #03071E;
   --vermelho: #D00000;
   --amarelo: #FFBA08;
   --laranja: #DC2F02;
   --vinho: #370617;

}

/* geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* elementos base do corpo */
body{

    background: var(--vinho);
    font-family: 'Times New Roman', Times, serif ;
    color: var(--amarelo)

}

/* definições de container direcionado pra tag header (navbar)*/
header .container{ /* classe do navbar*/
    display: flex; /* maneira de alinhar elementos em tela(flex box) que mantem itens em linha, de maneira vertical*/
    background-color: var(--azul); /* cor de fundo do navbar*/
    border: 1px solid black; /* deu cor a borda e colocou a linha que define o navbar em evidencia*/
    flex-direction: row; /* propriedade default do display flex que tende a deixar itens alinhados na direção pra cima*/
    align-items:center; /* centraliza itens */
    justify-content: space-between; /* trabalha como os elementos estao disponibilizados de maneira horizontal(distancia entre elementos da tag h2 e os outros elementoss)*/

}

/* Logo do navbar*/
header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family:'Arial Black', Times;
    font-size: 40px;
}

/* links do navbar*/
header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 15px;
}

/* ao passar o mouse sobre itens do navbar */
header nav a:hover{
    color: var(--laranja);
}

/* alinhamento do container de texto e botões da foto de capa */
div .container{
    margin-bottom: 15%;
    margin-left: 15px;
}

/* Album principal (foto de capa com os textos) */
.album-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../imgs/revoredo-album-capa.svg');

    height: 600px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* dimensionamento e definições de texto da capa principal*/
.album-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: bolder;
    font-size: 15px;
    width: 80%;
}

/* dimesionamento e fonte do titulo da foto principal*/
.album-principal .titulo {
    margin-top: 15%;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* estilos de cores de fundo, borda, cor, posicionamento e passar e tirar o cursor do botão */
.btn{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

/* ao passar o mouse sobre o botão*/
.btn:hover{
    background-color: var(--laranja);
    color:black;
}

/* icones do botão */
.btn i{
    margin-right: 8px;
}

/* Unidade do carousel de albuns*/
.box-album{
    height: 100%;
    width: 100%;
    display:block;
}

.carousels{
    margin-top: 10px;

}

.container .titulo-carrosel{
    margin-top: 50px;
    margin-bottom: 5px;
    font-size: 20px;
    color: #faa307;
    font-family:'Arial Black', Times;
}

.ends-credit {
	width: 100%;
	background-color: var(--azul);
	padding: 16px;
	color: #e5e8e8;
	position: static;
	bottom: 0;
	text-align: center;
	font-weight: 400;
    margin-top: 15px;
}